<!DOCTYPE html>
<html lang="pt-br">
<head>
  <%- include('partials/head.ejs')%>
</head>
<body>
    
    <h1><%= title%> </h1>

    <%- include('partials/navbar.ejs')%>

    <form action="/formulario/add" method="POST">
        <div>
            <label for="">Nome:</label>
            <input name="name" type="text">
        </div>
        <br>
        <div>
            <label for="">Idade:</label>
            <input name="age" type="number">
        </div>
        <br>
        <div>
            <label for="">Email:</label>
            <input name="email" type="email">
        </div>
        <br>
        <div>
            <label for="">Senha:</label>
            <input name="password" type="password">
        </div>
        <br>
        <button type="submit">Cadastrar</button>
    </form>

    <% if(typeof message !== 'undefined') { %>
        <span><%= message%></span>
    <% } %>

    <%- include('partials/foot.ejs')%>
</body>
</html>