<!DOCTYPE html>
<html lang="pt-br">

<head>
  <%- include('partials/head.ejs')%>
</head>

<body>

  <%- include('partials/navbar.ejs')%>



    <ul class="usersList">
      <% users.forEach(user=> { %>
        <li class="user">

          <div class="name">
            <%= user.name%>
          </div>

          <div>
            <%= user.age%> anos
          </div>

          <div>
            <%= user.email%>
          </div>

          <div class="links">
            <a class="edit" href="/edit?id=<%=user._id%>">[editar]</a> -
            <a class="remove" href="/remove/<%=user._id%>">[remover]</a>
          </div>
        </li>
        <% }); %>
    </ul>






    <%- include('partials/foot.ejs')%>
</body>

</html>